{ 
  "extends": "airbnb/base",
  "rules": {
    "no-underscore-dangle" : "off",
	"no-plusplus": "off",
    "import/extensions": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true
  }
}
